{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">Pathfinders Carpet Cleaning Services</h2>
                <p>Pathfinders Carpet Cleaning is Your Bay Area cleaning specialist. We offer Carpet, Tile/Grout and Upholstery Cleaning. More services include:</p>
                <p>Steam Carpet Cleaning, Carpet Cleaning Services, Carpet Cleaning, Carpet Shampooing Service, House Carpet Cleaning, Rug Cleaning Service, Vehicle Upholstery Cleaning,  Commercial Rug Cleaner</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-multiline">
          {{ range (where $.Site.RegularPages "Type" "services") }}
          <div class="column is-4 more-services">
            <a href="{{ .Permalink }}">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{{ .Params.featured_image }}" alt="Extra Services" style="object-fit: cover;">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content has-text-centered">
                        <h2 class="title is-6">{{ .Title }}</h2>
                      </div>
                    </div>
                  </div>
            </a>
            </div>
          {{ end }}

        </div>
    </div>
</div>
{{ end }}