{{ define "main" }}
    <div class="section">
        <div class="container">
            {{ range .Pages }}
            <div class="columns mt-6">
                <div class="column content">
                    <h1 class="title is-4">{{ .Title }}</h1>
                    <p>{{ .Summary }}</p>
                    <br>
                    <a href="{{ .Permalink }}" class="has-text-black">Read more</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}