{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="/uploads/pathfinderscrew.jpg" alt="Pathfinders Carpet Cleaning Crew">
            </div>
            <div class="column">
                <h1 class="title is-4">About Pathfinders Carpet Cleaning Services</h1>
                <p>Thank you for wanting to learn more about us! We are a full-service professional carpet cleaning company. We are family owned and operated and have been in business since 1976. Pathfinders Carpet Cleaning was founded on and dedicated to Christian principles. Hundreds of thousands of dollars earned by the cleaning business have gone to support Christian missionary work around the world. Integrity, trust, honor, accountability are the same principles being used today to operate Pathfinders. It is our desire to always conduct our business in a way that is honorable and benefits every customer we serve and each person we come in contact with.</p>
                <p>We have state-of-the-art truck mounted / van powered carpet upholstery cleaning equipment and the patented Rotobrush air duct cleaning equipment available to serve any of your cleaning needs. Watch our video below and contact us now. One call cleans it all!</p>
            </div>
        </div>
    </div>
</div>
<div class="background-img-about">
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                <h2 class="title is-4 has-text-white">Professional and Fully Trained Technicians</h2>
                <p class="has-text-white">Our technicians are highly trained professionals, with over two decades of experience, and ready to provide you with the best service available!</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">We Have Professional and Fully Trained Technicians For:</h2>
                <ul>
                    <li><a href="/services/carpet-upholstery/" class="has-text-black">Carpet and Upholstery Cleaning</a></li>
                    <li><a href="/services/air-duct-cleaning-air-quality/" class="has-text-black">Air Duct Cleaning and Air Quality</a></li>
                    <li><a href="/services/carpet-upholstery/" class="has-text-black">Carpet Stretching and Repairs</a></li>
                    <li><a href="/services/rug-cleaning/" class="has-text-black">Oriental Rug Cleaning and Stain Removal</a></li>
                    <li><a href="/services/carpet-upholstery/" class="has-text-black">Expert Spot Removal and Treatment</a></li>
                    <li><a href="/services/pet-odors-stain-removal/" class="has-text-black">Odor Removal and and Deodorization</a></li>
                    <li><a href="/services/carpet-upholstery/" class="has-text-black">3-M Scotchgard Protection</a></li>
                </ul>
            </div>
            <div class="column has-text-centered">
                <img src="/uploads/satisfaction.jpg" alt="Satisfaction Guaranteed">
            </div>
        </div>
    </div>
</div>
{{ end }}