<form name="quote form" method="POST" netlify-honeypot="bot-field" data-netlify="true">
    <input name="bot-field" type="hidden"/>
    <input name="Subject" type="hidden" value="Request a Quote"/>
        <div class="form">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name">
            </div>
        </div>
          
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" name="email">
            </div>
        </div>
          
        <div class="field">
            <label class="label">Phone</label>
            <div class="control">
              <input class="input" type="text" name="phone">
            </div>
        </div>
          
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" name="message"></textarea>
            </div>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="primary-btn" type="submit">Submit</button>
            </div>
          </div>
        </div>
</form>