<div class="background-text">
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <img src="/uploads/pathfindersicon.png" alt="" width="300">
                </div>
                <div class="column">
                    <h3 class="title is-4 has-text-white">Pathfinders Reputation</h3>
                    <p class="has-text-white">Being family owned since 1976 our reputation has always been something we are proud of. We approach every job differently and guarantee our work at all times. We treat your home and belongings with respect and provide every customer with courtesy and kindness.</p>
                </div>
            </div>
        </div>
    </div>
</div>