{{ $banner := .Site.Data.home.banner }}
<div class="background-text">
    <div class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <img src="{{ $banner.image }}" alt="Pathfinders Carpet Cleaning Icon" width="300">
                </div>
                <div class="column">
                    <h3 class="title is-4 has-text-white">{{ $banner.heading }}</h3>
                    <p class="has-text-white">{{ $banner.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>