<div class="section" style="background:#f6f6f6">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered is-half is-offset-one-quarter">
                <h2 class="title is-3 has-text-centered">Carpet & Rug Cleaning Service</h2>
                <p>We approach every job differently and guarantee our work at all times. We treat your home and belongings with respect and provide every customer with courtesy and kindness.</p>
            </div>
        </div>
    </div>
</div>
<div class="section" style="background:#f6f6f6">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column">
                <img src="/uploads/process.jpg" alt="Upholstery Cleaning with vacuum" style="object-fit: cover;height: 250px">
                <h2 class="title is-4 mt-4">Our Process</h2>
                <p class="is-size-7">We provide an 8 step “hands on” cleaning process that ensures your rug is free of any dirt, bacteria, and odor.</p>
            </div>
            <div class="column">
                <img src="/uploads/carpetclean.jpg" alt="Scrubbing a rug with blue tool" style="object-fit: cover;height: 250px">
                <h2 class="title is-4 mt-4">Pathfinders Promise</h2>
                <p class="is-size-7">Our process includes an inch by inch post inspection, and if you are not satisfied for any reason, we will happily clean your rug again. We stand by our process!</p>
            </div>
            <div class="column">
                <img src="/uploads/services.jpg" alt="vacuuming a dirty carpet" style="object-fit: cover;height: 250px">
                <h2 class="title is-4 mt-4">Services Offered</h2>
                <p class="is-size-7">We offer repairs, pet odor removal, fiber/scotchgard protection, Water Damage restoration, and much more.</p>
            </div>
        </div>
    </div>
</div>