{{ $featured := .Site.Data.home.featured_services.featured_services }}
{{ $featuredIntro := .Site.Data.home.featured_services }}
<div class="section" style="background:#f6f6f6">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered is-half is-offset-one-quarter">
                <h2 class="title is-3 has-text-centered">{{ $featuredIntro.heading }}</h2>
                <div class="content">
                    <p>
                        {{ $featuredIntro.body | markdownify }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="background:#f6f6f6">
    <div class="container">
        <div class="columns is-variable is-8">
            {{ range $featured }}
            <div class="column">
                <img src="{{ .image }}" alt="{{ .image_alt_tag }}" style="object-fit: cover;height: 250px">
                <h2 class="title is-4 mt-4">{{ .heading }}</h2>
                <p class="is-size-7">{{ .body }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</div>
