{{ partial "global/navbar" . }}
{{ $hero := .Site.Data.home.hero }}
<section class="hero is-info is-large" style="background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/uploads/clean-living-room.jpg) no-repeat center 80%;background-size:cover">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title is-1">
                    {{ $hero.heading }}
                </h1>
                <h2 class="subtitle">
                  {{ $hero.subtitle }}

                </h2>
                <div class="h-line"></div>
                <p>{{ $hero.body }}</p>
                <br>
                <a href="{{ $hero.button_link }}" target="_blank" class="primary-btn">{{ $hero.button_label }}</a>
            </div>
        </div>
      </div>
    </div>
  </section>