{{ $intro := .Site.Data.home.introduction }}
<div class="section">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column">
                <h2 class="title is-3">{{ $intro.heading }}</h2>
                <p>{{ $intro.body }}</p>
                <br>
                <a href="{{ $intro.button_link }}" class="border-button">{{ $intro.link_label }}</a>
            </div>
            <div class="column cta-box">
                <div class="box">
                    <div class="content">
                      <div class="heading-box has-text-centered">
                          <img src="/uploads/satisfaction.jpg" alt="Satisfaction Guaranteed" width="100">
                          <h2 class="title is-4 has-text-centered">Get a Quote</h2>
                          <div class="h-line" style="margin:20px auto"></div>
                      </div>
                      {{ partial "templates/quote" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>