{{ $closing := .Site.Data.home.closing }}
<div class="section">
    <div class="container">
        <div class="columns is-variable is-8 is-vcentered">
            <div class="column is-5">
                <img src="{{ $closing.image }}" alt="">
            </div>
            <div class="column">
                <div class="h-line"></div>
                <h2 class="title is-4">{{ $closing.heading }}</h2>
                <div>
                    {{ $closing.body }}
                </div>
                <br>
                <a href="https://www.housecallpro.com/book/AAA-Pathfinders-Cleaning-Services/e5c1846efa0247f49e8bd302a298159c" target="_blank" class="primary-btn">Schedule Pick Up</a>
            </div>
        </div>
    </div>
</div>